@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
   
    }

    body,html{
        margin: auto;
        display: inline-block;
        background-color: lightgray;
    }
    
    .itens{
       
        list-style-type: none;
    }
main{
    box-shadow:5px 5px 5px 5px rgba(139, 139, 139, 0.89);
    background-color: white;
    margin: auto;
    margin-top:30px;
    padding:10px;
    border-radius:10px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
} 
.remarcacoes{border-radius:10px 10px 10px 10px;
    margin:auto;
    padding:10px;
    background-color: #0e0d0d;
}
header{margin:auto;
    padding:0px;
        color: white;
        text-align: center;

}
.ajuda a:hover{
    background-color: rgb(138, 143, 143);
}

.ajuda{color: white;
    margin-top:3px;
    text-align:right;
}
.ajuda> a{
    margin:10px;
    color: rgb(49, 48, 48);
}
i#burguer{font-size: 20px;
    border-radius:10px 10px 10px 10px;
    margin-top:0px;
    text-align:center ;
    color: white;
    background-color: rgb(66, 66, 66);
    display: block;
    padding: 10px;
    cursor: pointer;
}
i#burguer:hover{
    background-color: white;
    color: rgba(14, 13, 13, 0.39);
}

menu > ul > li > a {
    font-size:20px;
    display: block;
    text-decoration: none;
    background-color: rgba(10, 10, 10, 0.658);
    border-radius: 2px solid rgb(29, 28, 28);
    margin: auto;
}
menu > ul > li > a:hover{
    background-color: gray;
}

menu{ 
    display: inline block;
    padding:0px;
    
}
#menu-nada{
    text-align: center;
    border: 30px;
    display: block;
    margin:auto;
}

.img{ 
    margin-inline-start:20px;
}

.shop{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

.pesquise{
    padding:0px;
    text-align:right;
}

.conf{padding: 40px;
    margin:20px;
    color: rgb(20, 20, 20);
    font-family:normal;
    text-align:center;
}
article{
    display:inline-block;
}
article > p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
} 

.novidades{padding:2em;
    margin:2em;
    text-align: center;
}


.men{
     border-radius:10px 10px 10px 10px;
    margin:1px;
    text-decoration: none;
     padding: 10px;
    color:white;
}
.woman{ border-radius:10px 10px 10px 10px;
    text-decoration: none;
    padding: 10px;
    color:white;
    margin:1px;
}
.kids{ border-radius:10px 10px 10px 10px;
    text-decoration: none;
    padding: 10px;
    color:white;
    margin:1px;

}
.sale{ border-radius:10px 10px 10px 10px;
    text-decoration: none;
    padding: 10px;
    color:white;
    margin:1px;
}
.astripe{ border-radius:10px 10px 10px 10px;
    text-decoration: none;
    padding:10px;
    color:white;
    margin:1px;
}
.masculino{
    color: #0e0d0d;
    display: block;
    padding:30px;
    text-decoration: none;
  
}
.mulher{
    color: #0e0d0d;
    display: block;
    padding:40px;
    text-decoration: none;
    
    
}
.crianca{color: #0e0d0d;
    display: block;
    padding:40px;
    text-decoration: none;
   
   
}
.popular{margin: 40px;
    padding: 40px;
    color: rgb(15, 15, 15);
    font-size: 40px;
    font-family: italic;
    text-align: center;
}


.impossivel{background-color: #9b9696;
    color:black;
margin:50px;
    padding: 10px;
    border-radius:10px 10px 10px 10px;
  
}
.novas{
    background-color: #9b9696;
    color:black;
    margin:50px;
    padding: 10px;
    text-decoration: none;
    border-radius:10px 10px 10px 10px;
}
.datas{background-color: #9b9696;
    color:black;
    margin: 50px;
    padding: 10px;
    text-decoration: none;
    border-radius:10px 10px 10px 10px;
}
.Lojas{background-color: #9b9696;
    color: rgb(10, 10, 10);
    margin: 50px;
    padding: 10px;
    text-decoration: none;
    border-radius:10px 10px 10px 10px;
}

.adicione{ border-radius:10px 10px 10px 10px;
    text-align: center;
    font-style: italic bold;
    padding:80px;
    font-family:italic;
    color: #111111;
    font-size:35px;
}
#alguma{
    margin: auto;
    display: block;
}



footer> a{
    color: #0e0d0d;
}
footer{
    border-radius:10px 10px 10px 10px;
    box-shadow: 5px 5px 0px rgba(139, 139, 139, 0.89);
    color: #9b9696;
    text-align: center;
    background-color: rgb(117, 115, 115);
    font-size: 20px;
    margin-top: 100px;
    width:auto;
    padding: 10px;
    
}