@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{ 
    background-position: center center;
    background-size: cover;
   background-color: #9b9696;
    background-repeat: no-repeat;
     min-width:10px; 
    max-width:auto;
    margin:auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
#menu-h{
    display: none;
}
span#burguer{color: white;
    background-color: #0e0d0d;
    display: block;
    text-align: center;
    padding: 10px;
}
span#burguer:hover{cursor: pointer;
    background-color: white;
    color: black;

}
.shop{margin: 40px;
   text-align:auto;
}

.remarcacoes{
    margin:auto;
    padding: 10px;
    background-color: #0e0d0d;
}

#menu-h ul li{
    display: inline-block;

}
#menu-h ul li a:hover{
    background-color: rgba(191, 191, 196, 0.993);
    transition:.4s;
}
#menu-h ul li a{
    color: rgb(248, 242, 242);
    padding:20px;
    display:inline-block ;
    text-decoration: none;
    display: inline;
}
#menu-h ul{
    list-style-type: none;
    padding: 20px;
    background-color: #131111;
}
#menu-h ul li{
    display: inline;
}


header{
  text-align: center;
}


#menu-h> ul> a{
    display:none;
    padding:20px;
    text-decoration: none;
    background-color: #d4d0d0;
    border-top: 2px solid rgb(206, 198, 198);
}
.pesquise{
    padding: 10px;
    text-align:right;
}
header{
    padding:10px;
        color: white;
        text-align: center;

}
.conf{
    margin:40px;
    color: rgb(20, 20, 20);
    font-family:normal;
    text-align:center;
}
.ajuda> a{
    margin: 10px;
    color: white;
}

.ajuda{color: white;
    margin-top:10px;
    text-align:right;
}
.novidades{
    text-align: center;
}

 h1{
    display: block;
    font-size: 2em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin:50px;
    padding:50px;
}

.men{
    margin: 20px;
    text-decoration: none;
     padding: 20px;
    color: rgb(243, 239, 239);
}
.woman{
    text-decoration: none;
    padding: 20px;
    color: black;
    margin: 30px;
}
.kids{text-decoration: none;
    padding: 20px;
    color: black;
    margin: 40px;

}
.sale{
    text-decoration: none;
    padding: 20px;
    color: black;
    margin: 20px;
}
.astripe{
    text-decoration: none;
    padding: 20px;
    color: black;
    margin: 10px;
}
.masculino{
    color: #0e0d0d;
    display: block;
    padding:30px;
    text-decoration: none;
  
}
.mulher{
    color: #0e0d0d;
    display: block;
    padding:40px;
    text-decoration: none;
    
    
}
.crianca{color: #0e0d0d;
    display: block;
    padding:40px;
    text-decoration: none;
   
   
}
.popular{color: rgb(15, 15, 15);
    font-size: 40px;
    font-family: italic;
    text-align: center;
}
.img{ margin-inline-start: -23px;
 
}


ul> a{
    text-align:center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    border: 2px solid black;
    color: #0e0d0d;
}
.impossivel{
    color: rgb(19, 18, 18);
margin-right: 50px;
    padding:10px;
  
}
.novas{
    color: rgb(20, 20, 20);
    margin:50px;
    padding: 10px;
    text-decoration: none;
}
.datas{ color: rgb(12, 12, 12);
    margin: 50px;
    padding: 10px;
    text-decoration: none;
}
.Lojas{color: rgb(10, 10, 10);
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
ul {
    border: 1px 1px solid black;
}


.adicione{text-align: center;
    font-style: italic bold;
    padding:40px;
    font-family:italic;
    color: #111111;
    font-size:35px;
}
p {
   
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


footer> a{
    color: #0e0d0d;
}
footer{border-radius:10px 10px 10px 10px;
    box-shadow: 5px 5px 0px rgba(139, 139, 139, 0.89);
    color: #9b9696;
    text-align: center;
    background-color: rgb(117, 115, 115);
    font-size: 20px;
    margin-top: 100px;
    width:auto;
    padding: 10px;
    
}